<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Table</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <div class="container p-5">
      <h2 class="text-center mb-3">Your Projects</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Details</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Submit</th>
          </tr>
        </thead>
        <tbody>
          <% projects.forEach(project => { %>

          <tr>
            <td><%= project.p_id %></td>
            <td><%= project.p_name %></td>
            <td><%= project.p_details %></td>
            <td>
              <%= new Date(project.p_dueDate).toLocaleDateString('en-GB') %>
            </td>
            <td><%= project.status %></td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                onclick="updateStatus('<%= project.s_rollNo%>','<%= project.p_id%>','<%= project.p_dueDate%>')"
              >
                Submit
              </button>
            </td>
          </tr>
          <% }) %>

          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    <script>
      function updateStatus(s_rollNo, p_id, p_dueDate) {
        console.log("CLICKED");
        fetch("/student/updateStatus", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ s_rollNo, p_id, p_dueDate }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Handle response
            console.log("success");
            location.reload();
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
